%h1.page-header Popular Baby Names in the US, 1880-2014

%p
  This is a visualization and analysis of baby name popularity data from the #{link_to 'US Office of Social Security', 'http://www.ssa.gov/oact/babynames', target: '_blank'}. The data stretches back to 1880, although it's most reliable after 1937 (when Social Security actually began).

%p
  This is a rich dataset in the best sense of richness. What to name your child is a choice
  that's both personal and public, steeped in tradition but also forward-looking.
  It's a decision made with love, care, fear, and hope. Those strong emotions give the data meaning, and ensure that
  it contains traces of things that happen in the world, things that matter to people.
  This visualization aims to make those buried stories accessible.

%h2.page-header Interactive Tool

.panel.panel-default
  .panel-heading
    .row
      .col-md-12
        %p
          Drag the sliders or the circle marker on the graph to explore. Right now, this is showing that:

        .well
          In
          <input id='year-input' class='form-control' type='number' step='1' min='1880' max='2014' value='1880'/>,
          <select id='name'></select>
          was the #<input id='rank-input' class='form-control' type='number' step='1' min='1' max='1000' value='1'/>
          most popular
          .btn-group{style: 'display: inline-block'}
            %button.btn.btn-default.btn-sm.active#gender-male= 'Boy'
            %button.btn.btn-default.btn-sm#gender-female= 'Girl'
          name
          (<span class='current-percentage'>8.1546</span>% of baby <span class='current-gender'>boy</span>s were named <span class='current-name'>John</span> in <span class='current-year'>1880</span>).

        You can also change the scale:
        .btn-group
          %button.btn.btn-default.btn-sm.active#scale-rank{ title: 'Show Rank (Linear Scale)' }= 'Rank #'
          %button.btn.btn-default.btn-sm#scale-percentage{ title: 'Show Percentage (Log Scale)' }= 'Percentage %'
        %br

        or the point along the path:
        %input#step-input.form-control{type: 'number', step: 1, min: 0, max: 999, value: 0}
        %br

        or the number of similarities:
        %input#sims-input.form-control{type: 'number', step: 1, min: 1, max: 50, value: 15}

  .panel-body
    #main-chart-spinner.spinner
    %script
      new Spinner().spin(document.getElementById('main-chart-spinner'))
    #main-chart-wrapper.row
      .col-lg-6.main-chart-col
        .rank-slider-wrapper
          #rank-slider
        #main-chart
        .year-slider-wrapper
          #year-slider

      .col-lg-6
        #similar-names

%h2.page-header
  Bye Bye Bertha
  %small (Greatest Changes)

.panel.panel-default
  .panel-heading
    .row#churn-controls
      .col-md-12
        %p
          Here you can view the names whose popularity rose or fell the most over a particular duration. Right now, this is showing the:

        .well
          %input.form-control#min-churn-names{type: 'number', step: 1, min: 0, max: 200, value: 0}
          to
          %input.form-control#max-churn-names{type: 'number', step: 1, min: 0, max: 200, value: 20}
          names that changed the most
          from
          %input.form-control#min-churn-years{type: 'number', step: 5, min: 1880, max: 2014, value: 1990}
          to
          %input.form-control#max-churn-years{type: 'number', step: 5, min: 1880, max: 2014, value: 2000}
          for
          .btn-group{style: 'display: inline-block'}
            %button.btn.btn-default.btn-sm#churn-male= 'Boys'
            %button.btn.btn-default.btn-sm#churn-female= 'Girls'
            %button.btn.btn-default.btn-sm.active#churn-both= 'Both Genders'

        You can also change time period using the slider:
        %div{style: 'padding: 15px 12px 50px 12px'}
          #churn-year-slider

  .panel-body
    #churn-chart-spinner.spinner
    %script
      new Spinner().spin(document.getElementById('churn-chart-spinner'))
    .row
      .col-lg-6
        #rising-names
      .col-lg-6
        #falling-names

%h2.page-header
  = '...And Stop Calling Me Shirley!'
  %small (Gender Drift)

.row
  .col-lg-6
    %p
      Shirley was a popular unisex name until 1935,
      when its male popularity plummeted.
      This might have had something to do with Shirley Temple's debut film, #{link_to 'Bright Eyes', 'https://en.wikipedia.org/wiki/Bright_Eyes_(1934_film)'},
      which came out in December of 1934.

    %p
      Many names have changed gender over time, but these changes are most often male-to-female.
      One possible explanation for this asymmetry is that, because of gender inequalities, women fare better when they take masculine names (while men fare worse with feminine ones).
      This matches up with many of our lived experiences and is supported by many
      #{link_to 'stories', 'http://jezebel.com/homme-de-plume-what-i-learned-sending-my-novel-out-und-1720637627', target: '_blank'}
      and
      #{link_to 'studies', 'http://blogs.scientificamerican.com/unofficial-prognosis/study-shows-gender-bias-in-science-is-real-heres-why-it-matters', target: '_blank'}.
      Over time, it could lead to a pattern of female appropriation followed by "male flight", which seems consistent with the data:

    #gender-carousel.carousel.slide
      %ol.carousel-indicators
        %li.active{data: { target: '#gender-carousel', :'slide_to' => '0' }}
        %li{data: { target: '#gender-carousel', slide_to: '1' }}
        %li{data: { target: '#gender-carousel', slide_to: '2' }}
        %li{data: { target: '#gender-carousel', slide_to: '3' }}
        %li{data: { target: '#gender-carousel', slide_to: '4' }}
        %li{data: { target: '#gender-carousel', slide_to: '5' }}
        %li{data: { target: '#gender-carousel', slide_to: '6' }}
        %li{data: { target: '#gender-carousel', slide_to: '7' }}
        %li{data: { target: '#gender-carousel', slide_to: '8' }}

      .carousel-inner{role: 'listbox'}
        .item.active
          .gender-chart.mtf{ data: { width: 350, name: 'Sydney' } }
        .item
          .gender-chart.mtf{ data: { width: 350, name: 'Sandy' } }
        .item
          .gender-chart.mtf{ data: { width: 350, name: 'Aubrey' } }
        .item
          .gender-chart.mtf{ data: { width: 350, name: 'Leslie' } }
        .item
          .gender-chart.mtf{ data: { width: 350, name: 'Kelly' } }
        .item
          .gender-chart.mtf{ data: { width: 350, name: 'Ashley' } }
        .item
          .gender-chart.mtf{ data: { width: 350, name: 'Dana' } }
        .item
          .gender-chart.ftm{ data: { width: 350, name: 'Frankie' } }
        .item
          .gender-chart.ftm{ data: { width: 350, name: 'Donnie' } }

      %a.left.carousel-control{href: '#gender-carousel', role: 'button', data: { slide: 'prev' }}
        %span.glyphicon.glyphicon-chevron-left{:'aria-hidden' => true}
      %a.right.carousel-control{href: '#gender-carousel', role: 'button', data: { slide: 'next' }}
        %span.glyphicon.glyphicon-chevron-right{:'aria-hidden' => true}

  .col-lg-6
    .gender-chart{ data: { name: 'Shirley', width: 525, line: 1934, image: '/images/brighteyes.jpg' } }

%h2.page-header Hispanic Names

.row
  .col-lg-6
    %p
      Many Hispanic names have been growing in popularity at similar rates.
      For example, see this chart showing the most similar names to Julio (auto-generated, not hand-selected).
      Not every name is Hispanic, but most are.

    %p
      This might have less to do with the names themselves and more with the fact that the U.S. Hispanic population
      #{link_to 'has grown exponentially', 'https://en.wikipedia.org/wiki/Historical_racial_and_ethnic_demographics_of_the_United_States#Historical_data_for_all_races_and_for_Hispanic_origin_.281610.E2.80.932010.29', target: '_blank'}
      (from 1.5% in 1940 to 17.4% in 2014).

    %p
      What if we compared that population growth to the name popularity growth?
      If Hispanic parents give their children (exclusively) Hispanic names, they should rise at about the same rate.

    %p
      To do this, we can make a list of Hispanic names and sum their popularities. I'm using
      #{link_to 'these', 'http://www.babycenter.com/0_100-most-popular-hispanic-baby-names-of-2011_10363639.bc', target: '_blank'}
      #{link_to 'lists', 'http://www.babycenter.com/0_most-common-baby-names-in-mexico_10341179.bc', target: '_blank'}
      and some friends' advice for reference,
      and I'm excluding names also popular for non-Hispanic Americans. I'm also only considering boy names, because
      there's a lot more overlap for girl names. Even though we're excluding
      %abbr#shared-hispanic-list many popular shared names,
      it shouldn't change the overall trend if parents choose them at the same rate.
      %br
      %br

    .clearfix
      #hispanic-popularity-vs-population.pull-left

      .multiselect.clearfix
        .multiselect-info
          %span
        .multiselect-buttons
          .btn-group
            %button.btn.btn-default.multiselect-select-all all
            %button.btn.btn-default.multiselect-select-none none
        .multiselect-select
          %select#exclusively-hispanic-boy-name-select.form-control{multiple: true}

  .col-lg-6
    #julio-chart

    %p
      For the most part, the lines rise with the same slope. This means that the number of boys given
      these Hispanic names is proportional to the number of Hispanic Americans, which makes sense.
      However, over the past 15 years, the lines have split. Now Hispanic boy names are less
      popular than you'd expect given the size of the Hispanic population.

    %p
      Barring strange effects of age cohorts or birthrate, the simplest explanation is that Hispanic parents are choosing different names.
      They could be choosing other Hispanic names we haven't included,
      or they might be starting to favor either Anglicized names
      or names that are still traditionally Hispanic but not exclusively so. According to
      #{link_to 'at least one account', 'http://www.nytimes.com/2015/10/04/opinion/sunday/for-muslim-americans-baby-aidan-or-baby-muhammad.html', target: '_blank'},
      that's been happening with Middle-Eastern names. Either way, it's consistent with 
      #{link_to 'recent', 'http://www.nytimes.com/2015/09/22/us/newest-immigrants-assimilating-as-well-as-past-ones-report-says.html', target: '_blank'}
      #{link_to 'reports', 'http://www.washingtonpost.com/news/wonkblog/wp/2013/01/28/hispanic-immigrants-are-assimilating-just-as-quickly-as-earlier-groups', target: '_blank'}
      showing fast Hispanic-American assimilation.

    %p
      It's also interesting to look at which Hispanic-American names are growing faster than the average.
      Santiago, Maximiliano, Mateo, Emiliano, and Cruz seem to be "beating the market" and rising absolutely
      in popularity despite general decline.

%h2.page-header Tiny Stories
.carousel.slide#story-carousel
  %ol.carousel-indicators
  .carousel-inner{role: 'listbox'}
    .item{data: { cls: 'potus',
      names: '["Roosevelt:m"]',
      years: '["1901:/images/teddy.jpg:https://en.wikipedia.org/wiki/Theodore_Roosevelt","1932:/images/franklin.jpg:https://en.wikipedia.org/wiki/Franklin_D._Roosevelt"]' }}
    .item{data: { cls: 'potus', orient: 'top', names: '["Taft:m"]', years: '["1908:/images/taft.jpg:https://en.wikipedia.org/wiki/William_Howard_Taft"]' }}
    .item{data: { cls: 'potus', names: '["Clinton:m"]', years: '["1992:/images/bill.jpg:https://en.wikipedia.org/wiki/Bill_Clinton"]' }}
    .item{data: { cls: 'war', orient: 'top', names: '["Adolph:m","Hans:m","Fritz:m"]', years: '["1914:/images/ww1.jpg:https://en.wikipedia.org/wiki/World_War_I","1941:/images/ww2.jpg:https://en.wikipedia.org/wiki/Attack_on_Pearl_Harbor"]' }}
    .item{data: { cls: 'war', orient: 'top', names: '["Mohammed:m","Ahmed:m"]', years: '["2001:/images/twintowers.jpg:https://en.wikipedia.org/wiki/September_11_attacks"]' }}
    .item{data: { cls: 'film', names: '["Shane:m"]', years: '["1953:/images/shane.jpg:http://www.imdb.com/title/tt0046303"]' }}
    .item{data: { cls: 'film', orient: 'top', names: '["Denzel:m"]', years: '["1989:/images/denzel.jpg:http://www.imdb.com/title/tt0097441"]' }}
    .item{data: { cls: 'film', names: '["Liam:m"]', years: '["1993:/images/schindler.jpg:http://www.imdb.com/title/tt0108052"]' }}
    .item{data: { cls: 'book', orient: 'top', names: '["Luna:f"]', years: '["2003:/images/phoenix.jpg:https://en.wikipedia.org/wiki/Harry_Potter_and_the_Order_of_the_Phoenix"]' }}
    .item{data: { cls: 'book', orient: 'top', names: '["Harry:m"]', years: '["1998:/images/sorcerer.jpg:https://en.wikipedia.org/wiki/Harry_Potter_and_the_Philosopher%27s_Stone"]' }}
    .item{data: { cls: 'book', orient: 'top', names: '["Ron:m"]', years: '["1998:/images/sorcerer.jpg:https://en.wikipedia.org/wiki/Harry_Potter_and_the_Philosopher%27s_Stone"]' }}
    .item{data: { cls: 'album', names: '["Mariah:f"]', years: '["1990:/images/mariah.jpg:https://en.wikipedia.org/wiki/Mariah_Carey_(album)"]' }}
    .item{data: { cls: 'album', names: '["Miley:f"]', years: '["2007:/images/miley.png:https://en.wikipedia.org/wiki/Hannah_Montana_2:_Meet_Miley_Cyrus"]' }}
    .item{data: { cls: 'album', orient: 'top', names: '["Clay:m"]', years: '["2003:/images/clay.jpg:https://en.wikipedia.org/wiki/Measure_of_a_Man_(Clay_Aiken_album)"]' }}

  %a.left.carousel-control{href: '#story-carousel', role: 'button', data: { slide: 'prev' }}
    %span.glyphicon.glyphicon-chevron-left{:'aria-hidden' => true}
  %a.right.carousel-control{href: '#story-carousel', role: 'button', data: { slide: 'next' }}
    %span.glyphicon.glyphicon-chevron-right{:'aria-hidden' => true}

%h3.page-header Acknowledgements

%p This was made by #{link_to 'Andrew Ross', 'https://github.com/asross', target: '_blank'},
and the charts use the excellent library #{link_to 'd3.js', 'http://d3js.org', target: '_blank'}.
The sliders use #{link_to 'noUiSlider', 'http://refreshless.com/nouislider', target: '_blank'}
and the name select uses #{link_to 'chosen', 'https://harvesthq.github.io/chosen'}.
You can check out the full source code for the visualization #{link_to 'here', 'https://github.com/asross/babynames', target: '_blank'},
and some details about how I'm calculating name similarity #{link_to 'here', 'https://github.com/asross/babynames/blob/master/parse.rb', target: '_blank'}.
The main chart was inspired in part by of #{link_to 'this cool visualization', 'http://fathom.info/fortune500', target: '_blank'}
of Fortune 500 companies.
If you want, you can download the data
#{link_to 'by name', 'javascript:void(0)', id: 'download-data-by-name'}
or #{link_to 'by year', 'javascript:void(0)', id: 'download-data-by-year'}.
