%h1.page-header Popular Baby Names in the US, 1880-2014

%p
  This is a visualization and analysis of baby name popularity data from the #{link_to 'US Office of Social Security', 'http://www.ssa.gov/oact/babynames', target: '_blank'}. The data stretches back to 1880, although it's most reliable after 1937 (when Social Security actually began).

%p
  There's a lot of richness in the set, and it's possible to see the effects of real-world events ripple through the popularity curves (see Adolph and Arya), as well as longer-term gender and demographic trends.

%h2.page-header Interactive Tool

.panel.panel-default
  .panel-heading
    .row
      .col-md-12
        %p
          Drag the sliders or the circle marker on the graph to explore. Right now, this is showing that:

        .well
          In
          <input id='year-input' class='form-control' type='number' step='1' min='1880' max='2014' value='1880'/>,
          <select id='name'></select>
          was the #<input id='rank-input' class='form-control' type='number' step='1' min='1' max='1000' value='1'/>
          most popular
          .btn-group{style: 'display: inline-block'}
            %button.btn.btn-default.btn-sm.active#gender-male= 'Boy'
            %button.btn.btn-default.btn-sm#gender-female= 'Girl'
          name
          (<span class='current-percentage'>8.1546</span>% of baby <span class='current-gender'>boy</span>s were named <span class='current-name'>John</span> in <span class='current-year'>1880</span>).

        You can also change the scale:
        .btn-group
          %button.btn.btn-default.btn-sm.active#scale-rank{ title: 'Show Rank (Linear Scale)' }= 'Rank #'
          %button.btn.btn-default.btn-sm#scale-percentage{ title: 'Show Percentage (Log Scale)' }= 'Percentage %'
        %br

        or the point along the path:
        %input#step-input.form-control{type: 'number', step: 1, min: 0, max: 999, value: 0}
        %br

        or the number of similarities:
        %input#sims-input.form-control{type: 'number', step: 1, min: 1, max: 50, value: 15}

  .panel-body
    #main-chart-spinner.spinner
    %script
      new Spinner().spin(document.getElementById('main-chart-spinner'))
    #main-chart-wrapper.row
      .col-lg-6.main-chart-col
        .rank-slider-wrapper
          #rank-slider
        #main-chart
        .year-slider-wrapper
          #year-slider

      .col-lg-6
        #similar-names

%h2.page-header Greatest Changes

.panel.panel-default
  .panel-heading
    .row#churn-controls
      .col-md-12
        %p
          Here you can view the names whose popularity rose or fell the most over a particular duration. Right now, this is showing the:

        .well
          %input.form-control#min-churn-names{type: 'number', step: 1, min: 0, max: 200, value: 0}
          to
          %input.form-control#max-churn-names{type: 'number', step: 1, min: 0, max: 200, value: 20}
          names that changed the most
          from
          %input.form-control#min-churn-years{type: 'number', step: 5, min: 1880, max: 2014, value: 1990}
          to
          %input.form-control#max-churn-years{type: 'number', step: 5, min: 1880, max: 2014, value: 2000}
          for
          .btn-group{style: 'display: inline-block'}
            %button.btn.btn-default.btn-sm#churn-male= 'Boys'
            %button.btn.btn-default.btn-sm#churn-female= 'Girls'
            %button.btn.btn-default.btn-sm.active#churn-both= 'Both Genders'

        You can also change time period using the slider:
        %div{style: 'padding: 15px 12px 50px 12px'}
          #churn-year-slider

  .panel-body
    #churn-chart-spinner.spinner
    %script
      new Spinner().spin(document.getElementById('churn-chart-spinner'))
    .row
      .col-lg-6
        #rising-names
      .col-lg-6
        #falling-names

%h2.page-header
  = '...And Stop Calling Me Shirley!'
  %small
    %em Gender Drift

.row
  .col-lg-6
    %p
      Shirley was a popular unisex name until 1935,
      when its male popularity plummeted.
      This might have had something to do with Shirley Temple's debut film, #{link_to 'Bright Eyes', 'https://en.wikipedia.org/wiki/Bright_Eyes_(1934_film)'},
      which came out in December of 1934.

    %p
      Many names have changed gender over time, but these changes are most often male-to-female.
      One possible explanation for this asymmetry is that, because of gender inequalities, women fare better when they take masculine names (while men fare worse with feminine ones).
      This matches up with many of our lived experiences and is supported by many
      #{link_to 'stories', 'http://jezebel.com/homme-de-plume-what-i-learned-sending-my-novel-out-und-1720637627', target: '_blank'}
      and
      #{link_to 'studies', 'http://blogs.scientificamerican.com/unofficial-prognosis/study-shows-gender-bias-in-science-is-real-heres-why-it-matters', target: '_blank'}.
      Over time, it could lead to a pattern of female appropriation followed by "male flight", which seems consistent with the data:

    #gender-carousel.carousel.slide
      %ol.carousel-indicators
        %li.active{data: { target: '#gender-carousel', :'slide_to' => '0' }}
        %li{data: { target: '#gender-carousel', slide_to: '1' }}
        %li{data: { target: '#gender-carousel', slide_to: '2' }}
        %li{data: { target: '#gender-carousel', slide_to: '3' }}
        %li{data: { target: '#gender-carousel', slide_to: '4' }}
        %li{data: { target: '#gender-carousel', slide_to: '5' }}
        %li{data: { target: '#gender-carousel', slide_to: '6' }}
        %li{data: { target: '#gender-carousel', slide_to: '7' }}
        %li{data: { target: '#gender-carousel', slide_to: '8' }}

      .carousel-inner{role: 'listbox'}
        .item.active
          .gender-chart.mtf{ data: { width: 350, name: 'Sydney' } }
        .item
          .gender-chart.mtf{ data: { width: 350, name: 'Sandy' } }
        .item
          .gender-chart.mtf{ data: { width: 350, name: 'Aubrey' } }
        .item
          .gender-chart.mtf{ data: { width: 350, name: 'Leslie' } }
        .item
          .gender-chart.mtf{ data: { width: 350, name: 'Kelly' } }
        .item
          .gender-chart.mtf{ data: { width: 350, name: 'Ashley' } }
        .item
          .gender-chart.mtf{ data: { width: 350, name: 'Dana' } }
        .item
          .gender-chart.ftm{ data: { width: 350, name: 'Frankie' } }
        .item
          .gender-chart.ftm{ data: { width: 350, name: 'Donnie' } }

      %a.left.carousel-control{href: '#gender-carousel', role: 'button', data: { slide: 'prev' }}
        %span.glyphicon.glyphicon-chevron-left{:'aria-hidden' => true}
      %a.right.carousel-control{href: '#gender-carousel', role: 'button', data: { slide: 'next' }}
        %span.glyphicon.glyphicon-chevron-right{:'aria-hidden' => true}

  .col-lg-6
    .gender-chart{ data: { name: 'Shirley', width: 525, line: 1934, image: '/images/brighteyes.jpg' } }

%h3.page-header Acknowledgements

%p This was made by #{link_to 'Andrew Ross', 'https://github.com/asross', target: '_blank'}, and the charts use the excellent library #{link_to 'd3.js', 'http://d3js.org', target: '_blank'}. The sliders use #{link_to 'noUiSlider', 'http://refreshless.com/nouislider', target: '_blank'} and the name select uses #{link_to 'chosen', 'https://harvesthq.github.io/chosen'}. You can check out the full source code for the visualization #{link_to 'here', 'https://github.com/asross/babynames', target: '_blank'}, and some details about how I'm calculating name similarity #{link_to 'here', 'https://github.com/asross/babynames/blob/master/parse.rb', target: '_blank'}. The main chart was inspired in part by of #{link_to 'this cool visualization', 'http://fathom.info/fortune500', target: '_blank'} of Fortune 500 companies.
